/* Estilo para el formulario de edición */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilo para las etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

/* Estilo para los inputs de texto y número */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo para el botón */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para el campo de carga de imagen */
input[type="file"] {
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Estilo para el encabezado */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

